<div class="checkout">
<h1>Checkout</h1>
<div class="row">
<div class="col-sm-7">
    <h3>Add Shipping Address</h3>
    <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
        <input
        type="text"
        class="form-input"
        placeholder="Enter User Email"
        name="email"
        ngModel
        #email="ngModel"
        required 
        email       
      />
      <input
        type="text"
        class="form-input"
        placeholder="Enter your address"
        name="address"
        ngModel
        #address="ngModel"
        required 
        address       
      />
      <input
        type="text"
        class="form-input"
        placeholder="Enter contact details"
        name="contact"
        ngModel
        #contact="ngModel"
        required 
        contact       
      />
      <button class="form-button">Order Now</button>
    </form>
</div>
<div class="col-sm-5">
    <h3>Total Amount: {{totalPrice}}</h3>
    <h4>Payment Method: <b>Pay on Delivery</b></h4>
</div>
</div>
</div>
