<div class="user-auth">
  <div *ngIf="!showLogin" class="user-signup">
    <h1>User Sign-up</h1>
    <form
      #userSignUp="ngForm"
      class="common-form"
      (ngSubmit)="signUp(userSignUp.value)"
    >
      <input
        type="text"
        class="form-input"
        placeholder="Enter User Name"
        name="name"
        ngModel
      />
      <input
        type="text"
        class="form-input"
        placeholder="Enter User Email"
        name="email"
        ngModel
      />
      <input
        type="password"
        class="form-input"
        placeholder="Enter User Password"
        name="password"
        ngModel
      />
      <button class="form-button">SignUp</button>
      <p>Already Have Account ?<a (click)="openLogin()">Click Here</a></p>
    </form>
  </div>
  <div *ngIf="showLogin" class="user-login">
    <h1>User Login</h1>
    <form
      #userLogin="ngForm"
      class="common-form"
      (ngSubmit)="login(userLogin.value)"
    >
      <input
        type="text"
        class="form-input"
        placeholder="Enter User Email"
        name="email"
        ngModel
      />
      <input
        type="password"
        class="form-input"
        placeholder="Enter User Password"
        name="password"
        ngModel
      />
      <button class="form-button">Login</button>
      <p>Want to Create Account ?<a (click)="openSignUp()">Click Here</a></p>
    </form>
  </div>
</div>
