<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://m.media-amazon.com/images/I/61u+NKkFnmL._SY355_.jpg" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price: 10000</b></p>
        <p><span>color: Red</span><span>category: Mobile</span></p>
        <p>A product Search UI</p>
    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://m.media-amazon.com/images/I/61u+NKkFnmL._SY355_.jpg" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price: 10000</b></p>
        <p><span>color: Red</span><span>category: Mobile</span></p>
        <p>A product Search UI</p>
    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://m.media-amazon.com/images/I/61u+NKkFnmL._SY355_.jpg" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price: 10000</b></p>
        <p><span>color: Red</span><span>category: Mobile</span></p>
        <p>A product Search UI</p>
    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://m.media-amazon.com/images/I/61u+NKkFnmL._SY355_.jpg" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price: 10000</b></p>
        <p><span>color: Red</span><span>category: Mobile</span></p>
        <p>A product Search UI</p>
    </div>
</div>
